include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top
